<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Test</title>
    <link rel="stylesheet" href="href={{asset('components.css')}} ">
    <link rel="stylesheet" href="href={{asset('login.css')}} ">
</head>

<body>


    <div class="container container-form">
        <h1>REPOFIK+</h1>
        <div class="input-with-icon login-input">
            <img src="./assets/user-solid-gray.svg" alt="">
            <input type="text" placeholder="Email...">
        </div>
        <div class="input-with-icon login-input">
            <img src="./assets/lock-solid-gray.svg" alt="">
            <input type="password" placeholder="Password...">
        </div>
        <br>
        <button class="button-primary">Login</button>
        <button class="button-tertiary">Daftar</button>
        <a href="#">Lupa Password</a>
    </div>



</body>

</html>