/* main blue: #007aff */
/* lighter blue: #80bdff */
/* lightest blue: #c0deff */
/* main-orange" #ff8558 */

* {
    font-family: sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ff8558;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    /* margin: 0; */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-width: 85vw;
    max-width: 85vw;
    min-height: 10vh;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 85vw;
    max-width: 85vw;
    min-height: 85vh;
    max-height: 85vh;
    background-color: #fff;
    color: #808080;
    border-radius: 18px;
    box-sizing: border-box;
    overflow: hidden;
}


.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4500;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 50%;
    min-width: 54px;
    min-height: 54px;
    margin-left: 8px;
    border: 4px solid #fff;

}

.button-close:hover {
    cursor: pointer;
    background-color: #fff;
    color: #ff4500;
}

.button-kembali {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff8558;
    border: 1px solid #fff;
    border-radius: 36px;
    min-height: 50px;
    min-width: 240px;
    color: #fff;
    padding: 0px 10px;
    box-sizing: border-box;
}

.button-kembali:hover {
    background-color: #fff;
    color: #ff8558;
}

.button-kembali img {
    max-width: 1rem;
    max-height: 1rem;
}

.button-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8558;
    border: 1px solid #fff;
    border-radius: 36px;
    min-height: 50px;
    min-width: 240px;
    color: #fff;
    padding: 0px 10px;
    box-sizing: border-box;
}

.button-dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 240px;
    min-height: 120px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 27px;
    z-index: 20000;
}

/* .button-dropdown-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    min-width: 90%;
    flex-grow: 4;
    box-sizing: border-box;
}

.button-dropdown-menu-top img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    object-fit: scale-down;
}

.button-dropdown-menu-bottom {
    display: flex;
    min-height: 20%;
    min-width: 90%;
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: space-between;
} */

.button-dropdown .user-circle {
    display: flex;
    /* width: 40px;
    height: 40px; */
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 50%;
    /* background-color: #fff; */
}

.button-dropdown .chevron {
    width: 18px;
    height: 18px;

}

.button-dropdown:hover {
    background-color: #fff;
    color: #ff8558;
    cursor: pointer;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #007aff;
    min-width: 208px;
    max-width: 208px;
    min-height: 54px;
    max-height: 54px;
    border-radius: 36px;
    border: none;
    gap: 5px;
}

.button-primary img {
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.button-secondary img {
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.button-primary:hover {
    background-color: #80bdff;
    cursor: pointer;
}



.button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    min-width: 208px;
    max-width: 208px;
    min-height: 54px;
    max-height: 54px;
    border-radius: 36px;
    border: none;
    gap: 5px;
}

.button-secondary:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


.button-tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #f0f0f0;
    min-width: 208px;
    max-width: 208px;
    min-height: 54px;
    max-height: 54px;
    border-radius: 36px;
    border: none;
    gap: 5px;
}

.button-tertiary:hover {
    background-color: #999;
    color: #fff;
    cursor: pointer;
}


.input {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #f0f0f0;
    color: #999;
    min-width: 450px;
    min-height: 54px;
    border: none;
    border-radius: 36px;
    padding: 0 36px;
    box-sizing: border-box;
}

.input select {
    background-color: #f0f0f0;
    border: none;
    min-width: 100%;
    min-height: inherit;
    color: #999;
}


.input select:focus {
    outline: none;
}

.input select:active {
    background-color: #C0DEFF;
}

.input:active {
    background-color: #c0deff;
}

.input img {
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.input:focus {
    outline: none;
    color: #000;
}


.input[type="file"] {
    /* background-color: #007aff; */
    z-index: 1;
    /* overflow: hidden; */
    /* max-width: 450px; */

}

.input[type="date"] {
    /* opacity: 0; */
    justify-content: flex-end;
    align-items: center;
}

.input[type="file"]:hover,
.input[type="date"]:hover {
    cursor: pointer;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 95vh;
    max-height: 95vh;
    box-sizing: border-box;
    overflow: hidden;
}

.container-form h1 {
    font-size: 2.5em;
    font-weight: 1;
    color: #ff8558;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    max-width: 25%;
    height: 85vh;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 18px;
    overflow: hidden;
}

.sidebar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: flex-start; */
    flex-direction: column;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-list li {
    /* font-size: 27px; */
    color: #000;
    text-decoration: none;
    margin: 0;
    font-size: .95rem;
}

.sidebar-list li:hover {
    /* font-weight: bold; */
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-list li.active {
    /* font-size: 27px; */
    color: #007aff;
    font-weight: bold;
    text-decoration: none;
}


.sidebar-list li.active:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contianer-content {
    flex-direction: row;
    justify-content: flex-start;
}


/* wrapper.css*/
/* start */
.wrapper {
    /* container's main wrapper */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: inherit;
    max-height: inherit;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: #ff7a00; */
}

.wrapper-content {
    /* the thing that actually holds */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 90%;
    min-height: inherit;
    max-height: inherit;
    box-sizing: border-box;
    /* background-color: #80bdff; */
    padding-top: 27px;
    overflow: hidden;
    gap: 18px;
}

.wrapper-content h1 {
    color: #000;
    font-weight: bold;
    font-size: 1.75rem;
    min-height: 20%;
    height: auto;
    min-width: 100%;
}

.wrapper-content-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    /* min-height: 15%;
    max-height: 15%; */
    min-height: 15%;
    min-width: 100%;
    box-sizing: border-box;
    gap: 10px;
    /* background-color: #00ff7a; */
}

.wrapper-content-bottom {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: flex-start;
    /* height: auto; */
    min-height: 400px;
    max-height: 600px;
    margin-bottom: 36px;
    height: auto;
    overflow: hidden;
    flex-grow: 1;

    /* background-color: #ff007a; */
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

/* wrapper.css */
/* end */


/* modal.css */
/* start */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 65vw;
    min-height: 75vh;
    background-color: #ff4500;
    color: #fff;
    border-radius: 36px;
    box-sizing: border-box;
}

.modal-white {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 65vw;
    min-height: 75vh;
    background-color: #E1DFE1;
    color: #000;
    border-radius: 18px;
    box-sizing: border-box;
}

.modal-white-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width: 100%;
    min-height: 5vh;
    background-color: #f5f5f5;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    gap: 5px;
    padding-left: 20px;
}

.modal-white-topbar .text {
    color: #808080;
    display: flex;
    flex-direction: row;
    min-width: 400px;
    gap: 5px;
}

.modal-white-topbar img {
    max-width: 1rem;
    max-height: 1rem;
}

.modal-white-topbar p {
    max-height: 0.75rem;
}

.dead-circle {
    width: 18px;
    height: 18px;
    background-color: #c0bfc0;
    border-radius: 50%;
}

.minimize-circle {
    width: 18px;
    height: 18px;
    background-color: #ffbd44;
    border-radius: 50%;
}

.minimize-circle:hover {
    cursor: pointer;
    background-color: #ffce55;
}

.close-circle {
    width: 18px;
    height: 18px;
    background-color: #ff605c;
    border-radius: 50%;
}

.circles-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.close-circle:hover {
    cursor: pointer;
    background-color: #ff716d;
}

.modal h1 {
    font-weight: .25;
    font-size: 1.5rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 65%;
    min-height: inherit;
    /* min-height: 80%; */
    width: auto;
    height: auto;
    box-sizing: border-box;
    gap: 18px;
}

.modal-form-file-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 65%;
    min-height: inherit;
    /* min-height: 80%; */
    width: auto;
    height: auto;
    box-sizing: border-box;
    gap: 18px;
}

.modal-form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0.8*inherit;
    max-width: 0.8*inherit;
    min-height: auto;
    box-sizing: border-box;
    color: #101010;
}

.modal-top {
    display: flex;
    min-width: 95%;
    max-width: 95%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 27px;
}

.modal-form-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/* modal.css */
/* end */

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .25rem;
}

.logo img {
    max-width: 1.75rem;
    max-height: 1.75rem;
}


/* input.css */

.input-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #f0f0f0;
    color: #999;
    min-width: 75%;
    min-height: 54px;
    border: none;
    border-radius: 36px;
    padding: 0 40px;
    box-sizing: border-box;
    gap: 18px;
    box-sizing: border-box;
}


.input-container input {
    border: none;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.input-container input:focus {
    outline: none;
}


/* second way of doing inputs with custom images */
.input-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #999;
    /* min-width: 450px; */
    /* max-width: 75%; */
    min-height: 54px;
    border: none;
    border-radius: 36px;
    padding: 0 9px;
    box-sizing: border-box;
    gap: 9px;
    box-sizing: border-box;
}

.login-input {
    min-width: 75%;
    width: auto;
}

.input-with-icon img {
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.input-with-icon input {
    /* min-width: 450px; */
    min-width: 80%;
    border: none;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.search-bar input {
    display: flex;
    min-width: 600px;
}

.input-with-icon input:focus {
    outline: none;
}

.hidden-input {
    display: none;
    /* Hides the original input and its default button */
}

.custom-file-input-wrapper {
    display: flex;
    align-items: center;
    min-width: 450px;
    max-width: 450px;
    min-height: 54px;
    background-color: #f0f0f0;
    border-radius: 36px;
    padding: 0 40px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    /* Hide any overflow text */
    white-space: nowrap;
    /* Prevent text wrapping */
    text-overflow: ellipsis;
    /* Add an ellipsis for long filenames */
}

.custom-file-input-wrapper:hover {
    cursor: pointer;
}

.custom-file-input-wrapper:active {
    background-color: #C0DEFF;
    transition: 0.5;
}

.custom-file-label {
    flex-grow: 1;
    /* Allows the label to take up available space */
    color: #999;
    cursor: pointer;
}

#file-name {
    margin-left: 10px;
    color: #333;
    /* A different color for the filename */
    font-style: italic;
}


.input-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #808080;
    border-radius: 36px;
    width: auto;
    height: 54px;
    padding: 0 36px;
    flex-grow: 1;
    overflow: hidden;
    gap: 10px;
}


.input-search img,
.input-search svg {
    max-width: 1.25rem;
    max-height: 1.25rem;
}

.input-search img:hover {
    cursor: pointer;
    /* background-color: #80bdff; */
}

.input-search input {
    border: none;
    background-color: #f0f0f0;
    flex-grow: 1;
}

.input-search input:focus {
    outline: none;
}

/*Grid Styling*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-height: 600px;
    align-items: start;
    overflow: hidden;
}

.grid-item {
    display: flex;
    flex-direction: column;
    /* Stacks the icon and name vertically */
    align-items: center;
    /* Centers items horizontally */
    width: 150px;
    /* Fixed width for each grid item */
    text-align: center;
    color: #000;
    /* Adjust width to fit 5 items per row, e.g., using calc() */
    /* width: calc((100% - 4 * 20px) / 5); */
}


.grid-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #007aff;
}


.file-icon {
    width: 64px;
    /* Adjust size as needed */
    height: 64px;
}

.file-name {
    white-space: nowrap;
    /* Prevents text from wrapping to a new line */
    overflow: hidden;
    /* Hides any text that overflows its container */
    text-overflow: ellipsis;
    /* Replaces truncated text with an ellipsis (...) */
    width: 100%;
    /* Ensures the text container is the same width as the parent */
    margin-top: 10px;
}

/* overlay styling  */
/* modal-test starts here */
#overlay-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Adjust as needed */
}

#overlay-dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 18px;
    padding-right: 7.5%;
    box-sizing: border-box;
    /* Adjust as needed */
}

#overlay-dropdown:hover {
    cursor: pointer;
}

#overlay-modal:hover {
    cursor: pointer;
}

.overlay-file-click {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Adjust as needed */
}

#overlay-file-click:hover {
    cursor: pointer;
}


/* elements of the upload modal

<overlay-modal>
    <modal-white>
        <modal-white-topbar>
        ....
        </modal-white-topbar>
        <modal-form>
            <modal-form-item></modal-form-item>
            <modal-form-item></modal-form-item> 
            ...
            <modal-form-buttons></modal-form-buttons>
        </modal-form>
    </modal-white>
</overlay-modal>
*/