body {
    display: flex;
    flex-direction: column;
    background-color: #ff8558;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    margin: 0;
}